.fc-event-main {
    max-width: 100%; /* Asegura que el ancho no exceda el contenedor padre */
    max-height: 100%; /* Asegura que el alto no exceda el contenedor padre */
    overflow: hidden; /* Recorta el contenido que se salga del contenedor */
    box-sizing: border-box; /* Incluye padding y borde dentro del ancho y alto */
  }
/* Evitar que los botones se oculten en responsive */
@media screen and (max-width: 768px) {
    #tabla_pac_wrapper {
        overflow-x: auto; /* Scroll horizontal si es necesario */
    }
    .no-wrap {
        white-space: nowrap; /* Evita saltos de línea en los botones */
    }
}